/* Table Component CSS */
.d-flex{
  display: flex
}

/* Site Header Component CSS */
.site-greeter {
  margin: 60px 10px 80px 10px;
}

/* Search Form Component CSS */
.input-text-field {
  margin-right: 5px;
}

/* Details Page & Error Page Component CSS */
.details-page-container, .error-page-container {
  margin: 30px;
}

/* Details Page Component CSS */
.details-page-card {
  margin-top: 20px;
  padding: 20px;
}

.detail-card-text {
  padding: 5px;
}

/* Loader Component CSS */
.loading-text {
  margin: 10px;
  color: palevioletred;
  font-size: 20px;
}

/* Error Page Component CSS */
.error-card-text {
  padding: 5px;
}